/*
Theme name: Modelisme occitanie
Author: La région occitanie
Description: Fédération des clubs de modélisme de la région occitanie
Version: 1.0.0
 */
h1{
    display: inline;
}

body{
    display: flex;
    flex-direction: column;
}

.header-top a{
    text-decoration: none!important;
    color: inherit!important;
}

main{
    flex-grow:1;
}

main, header{
    background: #aaa;
}

footer{
    background: #111;
    color: #ddd;
}

 .invisible {
    display: none;
}
 .visible {
     display: block;
 }

.index-main{
    background: #111;
}

.header-top{
    background: #111;
    color: #ddd;
}

td{
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

