/* RTL Style */

*{
  margin:0;
  padding:0;
  outline:none;
}
html{
  overflow-x: hidden;
}
body{ 
  margin:0; 
  padding:0; 
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  position:relative;
  background: #fff;
  font-size: 14px; 
  color: #000000;
  font-family: 'Heebo', sans-serif;
  overflow-x: hidden;
}
img{
  margin:0;
  padding:0;
  border:none; 
  max-width:100%; 
  height:auto;
}
section img{
  max-width:100%;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Saira', sans-serif;
  margin:0;
  padding:10px 0;
  color: #121212;
  font-weight: bold;
}
p{ 
  margin:0 0 15px; 
  padding:0;
  letter-spacing: 1px;
}
a{
  color: #3c3568;
}
a:focus,
a:hover{
  text-decoration:none !important;
}
a:focus,
input[type="submit"]:focus, input:focus, #comments:focus, textarea:focus {
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
  text-decoration:none !important;
}
#footer a:focus,
.main-menu-navigation .sub-menu > li > a:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
ul{ 
  margin:0 15px 0 0; 
  padding:0;
}
code{
 color: #3c3568;
}
:hover{-webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.clear{ 
  clear:both;
}
input[type='submit']:hover{
  cursor: pointer;
}
.center{ 
  text-align:center; 
  margin-bottom:40px;
}
.middle-align{ 
  margin: 0 auto; 
  padding: 3em 0 0;
}
.wp-caption{ 
  margin:0; 
  padding:0; 
  font-size:13px; 
  max-width:100%;
}
.wp-caption-text{ 
  margin:0; 
  padding:0; 
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.sticky{ 
  margin:0; 
  padding:0; 
}
.sticky .post-main-box h3{
  background: url(assets/images/pin.png) no-repeat scroll 100% 0px;
  padding-right: 40px;
}
.gallery-caption{ 
  margin:0;
  padding:0;
}
.alignleft, 
img.alignleft {
  display: inline; 
  float: right; 
  margin-left:20px; 
  margin-top:4px; 
  margin-bottom:10px; 
  padding:0;
  border:1px solid #bbb;
  padding:5px; 
}
.alignright, 
img.alignright { 
  display: inline; 
  float: left; 
  border:1px solid #bbb; 
  padding:5px;
  margin-bottom:10px;
  margin-right:25px;
}
.aligncenter, 
img.aligncenter {
  clear: both; 
  display: block; 
  margin-right: auto; 
  margin-left: auto; 
  margin-top:0;
  border: solid 1px #bbb;
  padding: 5px;
}
.alignnone,
img.alignnone {
  border: solid 1px #bbb;
  padding: 5px;
}
.comment-list .comment-content ul { 
  list-style:none; 
  margin-right:15px;
}
.comment-list .comment-content ul li{
  margin:5px;
}
#respond{
  clear:both;
}
.toggleMenu{
  display:none;
}
.bypostauthor{
 margin:0;
 padding:0;
}
input[type="text"],
input[type="email"],
input[type="phno"],
input[type="password"], 
textarea{
  border:1px solid #bcbcbc;
  width:100%; 
  font-size:16px;
  padding:10px 10px; 
  margin:0 0 23px 0;
  height:auto;
}
textarea{
  height:111px; 
}
input[type="submit"] {
  text-align:center;
  text-transform:uppercase;
  font-size:15px;
  padding: 15px 30px; 
  background: #febe00;
  font-weight:bold;
  color: #121212;
  letter-spacing: 1px;
  border: none;
}
input[type="submit"]:hover {
  background: #121212;
  color: #fff;
}
/*----------- PRELOADER ----------*/

#preloader  {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
  height: 100%;
}
#status  {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 50%;
  top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px -100px 0 0;
}
/*---------Sticky Header---------*/
.header-fixed {
  position: fixed;
  top:0; right:0;
  width: 100%;
  background: #fff;
  z-index: 999999;
}
/* --------TOP BAR --------- */
.top-bar h3.custom_title {
  display: none;
}
.top-bar .custom-social-icons {
  text-align: left;
  padding: 15px 0;
}
.top-bar .custom-social-icons i {
  color: #121212;
  margin-left: 10px;
}
.top-bar .custom-social-icons i:hover{
  color: #121212;
}
.top-bar {
  background: #febe00;
}
.top-bar p {
  font-size: 14px;
  color: #121212;
  padding: 15px 0;
  margin-bottom: 0px;
}
.top-bar i{
  margin-left: 8px;
  color: #121212;
}
.middle-header {
  padding: 15px 0;
  border-bottom: solid 3px #febe00;
}
/*.page-template-custom-home-page .middle-header {
  border: none;  
}*/

/* ------------ LOGO CSS ----------- */
.logo .site-title a {
  color: #121212;
  font-weight: bold;
}
.logo .site-title {
  font-size: 30px;
  padding: 0;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-family: 'Heebo', sans-serif;
}
p.site-description {
  font-weight: 500;
  letter-spacing: 1px;
  font-style: italic;  
  font-size: 13px;
  margin-bottom: 0;
  color: #000000;
}

/*----------------- SEARCH POPUP ----------------*/
.serach_inner label {
  width: 80%;
}
.serach_outer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  z-index: 999;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.8);
  display: none;
}
.serach_inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.closepop {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  text-align: left;
  margin-left: 28px;
}
.serach_outer i {
  font-size: 24px;
  padding: 4px 0 0 0;
  color: #bbb;
  cursor: pointer;
}
.serach_inner form.search-form {
 display: table;
 padding: 0;
 border-radius: 0;
 border-bottom: solid 1px #999; 
 margin: 0 auto;
 max-width: 700px;
 width: 100%;
}
.serach_inner input.search-submit {
  padding: 10px 25px;
  background: url(assets/images/search.png) no-repeat scroll 100% 8px;
  font-size: 13px;
  text-align: center;
  float: left;
  text-indent: -9999px;
  border: none;
  margin-top: 6px;
}
.serach-page input.search-field {
  border: 1px solid #ccc;
  padding: 9px;
}
button.search-submit {
  border: 0;
  background: transparent;
}
input.search-field {
  border: 1px solid #ccc;
  padding: 10px 20px;
  background: transparent;
  width: 100%;
  font-size: 20px;
  font-style: italic;
  color: #999
}
.search-box i {
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 18px 14px;
  background: #121212;
}
.search-box{
  text-align: center;
}
.serach_inner input.search-field{
  border: none;
}
.search-box a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none !important;
  padding: 15px 0 12px 0;
}
.serach_inner input:focus, a.closepop:focus, a.closepop:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
  text-decoration: none !important;
}
/* --------- MENUS CSS --------- */
#mySidenav {
  text-align: center;
  display: inline;
}
ul.list_nav {
  margin: 0 auto;
  text-align: center;
  display: block;
}
.main-menu-navigation ul{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.main-menu-navigation li{
  display: inline-block;
  position: relative;
}
.main-menu-navigation a{
  display: block;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgb(37, 37, 37);
  padding: 7px 15px;
}
.main-menu-navigation a:hover{
  color: #febe00;
}
.main-menu-navigation a:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
.main-menu-navigation ul ul{
  display: none;
  position: absolute;
  background: #fff;
  min-width: 200px;
  z-index: 9999;
  top: 90%;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #febe00;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #febe00;
  line-height: 30px;
  border-radius: 5px;
  box-shadow: 0 0px 3px #febe00;
}
.main-menu-navigation ul ul ul{
  right: 100%;
  top: 0%;
}
.main-menu-navigation ul ul a{
  color: #000 ;
  border: none;
  padding: 5px 10px ;
  border-bottom: 1px solid #eaeaea;
  margin-top: 5px;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}
.main-menu-navigation ul.sub-menu a:hover{
  color: #febe00 ;
  padding-right: 50px !important;
}
.main-menu-navigation ul.sub-menu>li>a:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  margin-top: 15px;
  right: 0;
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  background: #222;
}
.main-menu-navigation ul.sub-menu>li>a:hover:before {
  opacity: 1;
  right: 15px;
  width: 20px;
}
.main-menu-navigation ul ul a:focus{
  outline: 1px dotted #000;
  border-bottom: 1px solid #000;
}
.main-menu-navigation ul ul li{
  float: none;
  display: block;
  text-align: right;
  border-right: none;
  border-left: none !important;
  padding: 0;
}
.main-menu-navigation ul ul li:last-child{
  border-bottom: 0;
}
.main-menu-navigation ul li:hover > ul{
  display: block;
}
.main-menu-navigation .menu > ul > li.highlight{
  background-color: #006ccc;
}
.main-menu-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
.menubar {
  padding-top: 20px;
}
.main-menu-navigation .current_page_item > a, .main-menu-navigation .current-menu-item > a, .main-menu-navigation .current_page_ancestor > a {
  color: rgb(18, 18, 18) !important;
  background: rgb(254, 190, 0);
}
/*--------------- SUPERFISH MENU ---------------------------*/

.sf-arrows ul .sf-with-ul:after{
  margin-top: -5px;
  margin-left: -3px;
  border-color: transparent;
  border-right-color: #888;
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after{
  border-right-color: #333;
}
.toggle-nav, a.closebtn{
  display: none;
}

/* --------- SLIDER--------- */
#slider{ 
  max-width:100%; 
  margin:auto; 
  padding:0;
  background: #121212;
  border-bottom: solid 5px #febe00;
}
#slider img {
  width: 100%;
  opacity: 0.3;
}
#slider .carousel-item-next,
#slider .carousel-item-prev,
#slider .carousel-item.active {
  display: block !important;  
}
#slider .carousel-control-prev-icon, 
#slider .carousel-control-next-icon{
  background-image: none;
  font-size: 15px;
  color: #fff;
  border: solid 2px;
  padding: 12px 18px;
  border-radius: 50%;
}
#slider .carousel-control-prev-icon:hover, 
#slider .carousel-control-next-icon:hover{
  background: #febe00;
  border-color: #febe00;
}
#slider .carousel-control-prev,
#slider .carousel-control-next{
  opacity: unset !important;
  width: 8%;
}
#slider .carousel-control-next-icon,
#slider .carousel-control-prev-icon{
  width: auto;
  height: auto;
}
#slider .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  left: 45%;
  right: 10%;
  text-align: right;
}
#slider .inner_carousel {
  border-right: solid 4px #febe00;
  padding-bottom: 1px;
  padding-right: 10px;
}
#slider .inner_carousel h1 {
  font-size: 45px;
  /*text-align: left;*/
  color: #fff;
  margin-bottom: 0;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}
#slider .inner_carousel p {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 2;
}
.more-btn{
  margin: 25px 0;
}

/* --------- BUTTON CSS ------- */

.top-btn a,.more-btn a {
  padding: 14px 20px;
  font-size: 12px;
  font-weight: bold;
  color: #121212;
  border-radius: 30px;
  background: #febe00;
  letter-spacing: 1px;
}
.top-btn a:hover,
.more-btn a:hover{
  background: #121212;
  color: #fff;
}

/* --------- SERVICES SECTION ------- */

#serv-section {
  padding: 3% 0;
}
.heading-box h2 {
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0;
  font-weight: 600;
  border-right: solid 4px #febe00;
  padding-right: 10px;
}
.heading-box p {
  margin-bottom: 0;
}
.heading-box {
  padding-bottom: 20px;
}
.serv-box {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0px 10px 2px #eee;
  margin-bottom: 15px;
}
.serv-box h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.serv-box a i {
  font-size: 25px;
}
.serv-box:hover {
  background: #febe00;
}
.serv-box:hover h4,
.serv-box:hover p,
.serv-box:hover a i{
  color: #121212;
}

/* ABOUT US */

.box{
  overflow: hidden;
  position: relative;
  text-align: center;
}
.box img{
  height: auto;
  border-radius: 50%;
}
.box .inner-content{
  width: 100%;
  height: 50%;
  text-align: center;
  color: #121212;
  position: absolute;
  top: 65%;
  right: 50%;
  z-index: 2;
  transform: translate(50%, 50%) scale(0);
  transition: all 0.3s ease 0.2s;
  padding: 0 2em;
}
.box .inner-content:after{
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #febe00;
  position: absolute;
  top: 20%;
  right: 50%;
  z-index: -1;
  transform: translate(50%, -50%);
  opacity: 0.9;
}
.box:hover .inner-content{
  transform: translate(50%, -50%) scale(1);
  transition: all 0.3s ease 0s;
}
.box .title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  color: #121212;
  padding-top: 0;
}
.box .post{
  font-size:14px;
}
.about-btn a {
  background: #121212;
  color: #fff;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 30px;
  font-weight: bold;
}

iframe,
.entry-audio audio{
  width: 100%;
}

/* --------- FOOTER ------- */
#footer a {
  color: #fff;
}
#footer a:focus{
  outline: 1px dotted #fff;
  border-bottom: 1px solid #fff;
}
#footer .custom-social-icons {
  text-align: right;
}
#footer .tagcloud a{
  border: solid 1px #7e8a9e;
  color:#7e8a9e;
  font-size: 14px !important;
  padding: 6px 12px;
  display:inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
#footer .tagcloud a:hover{
  background: #febe00;
  color: #121212;
}
#footer li a:hover {
  color: #febe00;
}
#footer ins span,
#footer .tagcloud a {
  color: #7e8a9e;
}
.copyright img{
  text-align: left;
}
#footer .widget {
  padding: 15px 0;
}
#footer input[type="submit"]{
  margin-top: 0;
  padding: 10px 9px;
  font-size: 15px;
  width: 100%;
  color: #121212;
}
#footer input[type="submit"]:hover{
  background: #febe00;
  color: #121212;
}
#footer label{
  width: 100%;
}
#footer .search-form .search-field {
  width: 100%;
  border: solid 1px #7e8a9e;
  padding: 10px;
  background:transparent;
}
#footer caption,#sidebar caption {
  font-weight: bold;
  color: #7e8a9e;
  font-size: 20px;
}
#footer table,
#footer th,
#footer td{
  border: 1px solid #7e8a9e;
  text-align: center;
}
#footer td ,#sidebar td{
  padding: 9px;
  color: #7e8a9e;
}
#footer th {
  text-align: center;
  padding: 10px;
  color: #7e8a9e;
}
#footer li a {
  color: #7e8a9e;
  font-size: 14px;
}
#footer ul li {
  list-style: none;
  padding: 5px 0;
}
#footer ul {
  margin: 0;
}
#sidebar select ,#footer select {
  padding: 10px 5px;
  width: 100%;
}
.sub-title{
  margin: 5em 0 0 0;
  line-height: 2em;
}
#footer {
  color: #7e8a9e;
  text-align: right;
  background: #121212;
  padding: 1%;
}
#footer h3 {
  color: #febe00;
  font-size: 25px;
  padding: 0 0 17px 0;
  letter-spacing: 1px;
}
#footer h3:after {
  border-bottom: solid 3px #febe00;
  width: 15%;
  padding-bottom: 5px;
  content: "";
  display: block;
}
#footer p{
  font-size: 14px;
}
.navigate  ul{
  list-style: none;
}
.copyright a {
  color: #121212;
}
.copyright p{
  margin-bottom: 0;
  color: #121212;
  font-size: 14px;
  font-weight: 500;
}
#footer-2{
  background: #febe00;
  text-align:center;
  padding:20px 0;
}
.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  left: 100px;
  font-size: 25px;
  padding: 6px;
  display: none;  
  border: solid 1px #febe00;
  border-radius: 50%;
}
.scrollup.left {
  right: 100px;
}
.scrollup.center {
  right: 50%;
  left: 50%;
}
a.scrollup{
  color: #febe00;
}
a.scrollup span {
  display: none;
}
/* --------- Blog Page ------- */
article p a{
  text-decoration: underline;
}
#our-services iframe{
  width: 100%;
}
h1.page-title {
  margin-bottom: 1%;
  margin-top: 0;
}
#our-services {
  margin-top: 0;
}
.post-main-box {
  margin-bottom: 5%;
  padding: 20px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 15px 35px -15px #e1e1e1
}
.post-main-box h2 {
  font-size: 20px;
  color: #121212;
  letter-spacing: 1px;
  text-align: right;
  margin-top: 0;
  padding-top: 0;
  font-weight: 600;
}
.post-main-box h2 a{
  color: #000000;
}
.post-main-box h1 a:hover{
  color: #febe00;
}
.new-text p {
  line-height: 26px;
  margin-top: 15px;
  text-align: justify;
}
.post-info {
  font-size: 12px;
  letter-spacing: 1px;
}
.single-post .post-info{
  color: #000;
  clear: both;
  font-size: 12px;
  letter-spacing: 1px;
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 15px;
}
.post-info a:hover{
  color: #febe00;
}
.single-post h1{
  font-size: 2rem;
}
.post-info span {
  margin-left: 1%;
}
.post-info hr {
  width: 10%;
  border-top: solid 2px #000000;
  margin-bottom: 0;
}
.post-main-box:hover h3{
  color: #febe00;
}
.entry-content a{
  color: #114fb2;
  text-decoration: underline;
}
.entry-content a, .sidebar p a, #comments p a, .comment-meta.commentmetadata a, .textwidget p a{
  color: #114fb2;
  text-decoration: underline;
}
.entry-date a, .entry-author a{
  color: #000000;
}
.post-info i {
  margin-left: 5px;
}
.tags {
  padding-top: 20px;
}
.tags a{
  text-decoration: none!important;
  font-weight: 400;
  border-radius: 3px;
  color: #121212!important;
  background: #f8f8f8;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0,0,0,.08);
  text-shadow: none;
  line-height: 23px;
  padding: 2px 10px 2px 10px;
  margin: 5px;
}
/* --------- POST --------- */
h2#reply-title {
  text-align: right;
  margin-bottom: 0;
  font-size: 30px;
  text-transform: none;
}
.bradcrumbs{
  padding:30px 0;
}
.bradcrumbs a{
  background:#f1f1f1; 
  color:#000;
  padding:5px 15px;
  margin-left:5px;
}
.bradcrumbs a:hover{
  background:#ffd34e;
}
.bradcrumbs span{
  background:#dddddd; 
  color:#000;
  padding:5px 15px;
}

/* Comments BOX */
#comments ol.children img {
  width: 30px;
}
#comments{
  margin-top:20px;
}  
#comments h2.comments-title{
  font-size: 28px;
  font-weight: bold;
  border-top: 2px dotted #7e7e7e;
  padding: 20px 0 0 0;
  margin-bottom: 0;
}
#comments ol {
    list-style: none;
    margin: 10px 0px;
}
#comments ol li {
    width: 100%;
    list-style: none;
    margin: 0 0 20px !important;
    padding: 20px !important;
    background: #fff;
    display: inline-block;
    border: solid 1px #f0f0f0;
}
#comments .comment-author {
    width: 50%;
    float: right;
}
.comment-meta.commentmetadata {
    float: left;
    width: 50%;
    text-align: left;
}
.comment-meta.commentmetadata a{
  color: #121212;
}
.reply {
    margin-bottom: 15px;
    width: 100%;
    float: right;
}
#comments a.comment-reply-link {
    color: #000;
    background: #febe00;
    padding: 5px 15px;
    text-decoration: none;
}
#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}  
#comments input[type="text"],
#comments input[type="email"],
#comments textarea{
  width:100%;
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}
#comments input[type="submit"].submit{
  background:#febe00;
  padding:10px 50px;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:20px;
  margin-right:0px;
  border: 1px solid #febe00;
}
#comments input[type="submit"].submit:hover{
  color: #fff;
  background: #121212;
  border: 1px solid #121212;
}
#comments a.comment-reply-link{
  padding:5px 15px;
}  
#comments a.comment-reply-link:hover{
  background:#cecece;
  color: #121212;
}  
#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}
.content-vw #comments ol li{
  width:100%;
  background:none;list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#eee;
  display:inline-block;
}
.content-vw #comments ul{
  margin:0 40px 0 0;
}
#comments .reply{
  float:left;
}
#comments .comment-metadata{
  width:90%;
  float:right;
  padding:1% 0 0 0;
}  
#comments .comment-content{
  width:90%;
  float:right;
  margin-right:7%;
}  
#comments p {
  width:90%;
  float:right;
  margin-top: 10px;
}

/* Sidebar */
#sidebar .custom-social-icons {
  text-align: center;
}
#sidebar .custom-social-icons i,
#footer .custom-social-icons i {
  background: #febe00;
  width: 40px;
  text-align: center;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  line-height: 1.5;
  color: #121212;
}
#sidebar .custom-social-icons i:hover{
  background: #121212;
  color: #fff;
}
#footer .custom-social-icons i:hover{
  background: #fff;
  color: #febe00;
}
#sidebar td#prev a {
  color: #000000;
}
#sidebar caption {
  font-weight: bold;
  color: #121212;
  font-size: 20px;
}
#sidebar table,#sidebar th,#sidebar td {
  border: 1px solid #e1e1e1;
  text-align: center;
}
#sidebar td {
  padding: 7px;
  color: #000000;
}
#sidebar th {
  text-align: center;
  padding: 5px;
  color: #000000;
}
#sidebar select, 
.woocommerce .woocommerce-ordering select{
  padding: 10px 5px;
  border: solid 1px #e1e1e1;
  color: #000000;
  background: transparent;
}
#sidebar form{
  text-align: center;
}
#sidebar h3 {
  font-size: 20px;
  display: table;
  color: #121212;
  padding: 10px 15px;
  margin: -45px auto 10px auto;
  background: #febe00;
  font-weight: 600;
}
#sidebar input[type="search"] {
  padding: 15px;
  font-size:15px;
  margin-bottom: 10px;
  color:#000000;
  border: solid 1px #e1e1e1;
  width: 100%;
}
#sidebar label{
  margin-bottom: 0;
  width: 100%;
}
#sidebar input[type="submit"]{
  color: #121212;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  letter-spacing: 1px;
}
#sidebar input[type="submit"]:hover {
  background: #121212;
  color: #fff;
}
#sidebar .widget {
  padding: 20px;
  border: solid 1px #e1e1e1;
  margin-bottom: 50px;
  box-shadow: 0px 15px 35px -15px #e1e1e1;
}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar ul li{
  color: #000000;
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1;
  line-height: 43px;
}
#sidebar ul li a {
  color: #000000;
  letter-spacing: 1px;
  font-size: 14px;
}
#sidebar ul li a:hover{
  color: #febe00;
}
#sidebar .tagcloud a{
  border: solid 1px #e1e1e1;
  color: #000000;
  font-size: 14px !important;
  padding: 10px 18px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
}
#sidebar .tagcloud a:hover{
  background: #febe00;
  color: #121212;
}
.nav-previous{
  clear:both;
}
.nav-previous,
.nav-next{
  float:right;
  width:50%;
}
.nav-next{
  text-align:left;
  font-size: 18px;
}
.nav-previous{
  text-align:right;
  font-size: 18px;
}

/*------------ PAGE CSS -------------*/
.error404,
.error404 p {
  text-align: center !important;
}
#content-vw p{
  text-align:justify;
  line-height: 25px; 
  font-size: 14px; 
  margin:0 0 20px 0;
}
#content-vw h2{
  font-size:32px;
  padding:0;
  margin:0 0 25px; 
}
#content-vw h3{
  font-size:36px;
  padding:0;
  margin:0 0 25px; 
}
#content-vw h4{
  font-size:20px;
  padding:0;
  margin:0 0 25px;
}
#content-vw h5{
  margin:0 0 15px;
  font-size:18px;
  padding:0; 
}
#content-vw h6{
  margin:0 0 15px;
  font-size:17px;
  padding:0; 
}
#content-vw ul{
  list-style:none;
  margin:0 10px 0 0;
  padding:10px 0 0; 
  font-size:16px;
}
#content-vw ol{
  list-style: none;
  margin:0 15px 0 0;
  padding:10px 0 0 0; 
  font-size:16px;
  counter-reset: myCounter;
}
#content-vw ol li ol li{
  margin:0 0 20px 0;
  padding:0 35px 0 0;
}
#content-vw ol li{
  padding:0 0 0 0;
  margin:0 0 20px 0;
}
.read-moresec{
  margin:2% 0;
}

/*------------- PAGINATION CSS --------------*/
.pagination {
  clear:both;
  position:relative;
  font-size:14px;
  line-height:13px;
  float:left;
  font-weight:bold;width:100%;
} 
.pagination span, .pagination a {
  display:block;
  float:right;
  margin: 2px 0 2px 5px;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color: #fff;
  background: #121212;
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
} 
.pagination a:hover{
  background: #febe00;
  color: #121212;
} 
.pagination .current {
  padding: 10px 15px;
  background: #febe00;
  font-weight: bold;
  color: #121212;
}
#content-vw .pagination ul{
  margin:0;
  clear:both;
}
#content-vw .pagination ul li{
  margin:0;
}
.post-navigation{
  clear:both;
}
.post-navigation {
  clear: both; 
}
.nav-previous {
  float: right;
  width: 50%;
}
.post-navigation .current .screen-reader-text { 
  position: absolute !important; 
}
.post-navigation a { 
  color: #121212; 
  display: block; 
  padding: 1.75em 0;
}
.post-navigation span { 
  display: block; 
}
.post-navigation .meta-nav { 
  font-size: 13px;
  letter-spacing: 0.076923077em; 
  line-height: 1.6153846154; 
  margin-bottom: 0.5384615385em; 
  text-transform: uppercase; 
}
.post-navigation .post-title {
  display: inline; 
  font-size: 15px; 
  font-weight: 700;  
  line-height: 1.2173913043; 
  text-rendering: optimizeLegibility;
}
.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title { 
  color: #febe00;
}
.post-navigation:before {
  left: 0;
}
.post-navigation:after {
  left: 54px;
}
.post-navigation a:hover,
.post-navigation a:focus {
  color: #febe00;
}
.post-navigation .nav-links {
  position: relative;
}
.post-navigation .nav-links:before,
.post-navigation .nav-links:after {
  color: #fff;
  font-size: 32px;
  line-height: 51px;
  opacity: 0.3;
  position: absolute;
  width: 52px;
  z-index: 1;
}
.post-navigation .page-numbers {
  display: inline-block; 
  letter-spacing: 0.013157895em;
  line-height: 1;
  margin: 0 -0.7368421053em 0 0.7368421053em;
  padding: 0.8157894737em 0.7368421053em 0.3947368421em;
  text-transform: uppercase;
}
.post-navigation .current {
  display: inline-block;
  font-weight: 700;
}
.post-navigation .prev,
.post-navigation .next {
  background-color: #1a1a1a;
  color: #fff;
  display: inline-block;
  height: 52px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 2;
}
.post-navigation .prev:before,
.post-navigation .next:before {
  font-size: 32px;
  height: 53px;
  line-height: 52px;
  position: relative;
  width: 53px;
}
.post-navigation .prev:hover,
.post-navigation .prev:focus,
.post-navigation .next:hover,
.post-navigation .next:focus {
  background-color: #007acc;
  color: #fff;
}
.post-navigation .prev:focus,
.post-navigation .next:focus {
  outline: 0;
}
.post-navigation .prev {
  left: 54px;
}
.nav-next {
  float: left;
  width: 50%;
  text-align: left;
}
.nav-previous {
  width: 50%;
  float: right;
  text-align: right;
}
.post-navigation .nav-links {
  position: relative;
}
.nav-next span.meta-nav:after{
  content: "\f30b";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
}
.nav-previous span.meta-nav:before{
  content: "\f30a";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 18px;
  margin-left: 10px;
}
.post-navigation span.meta-nav {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin: 25px 0;
  padding: 15px;
}
.post-navigation span.meta-nav:hover {
  color: #febe00;
}
.post-navigation .post-title {
  display: none;
}
.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title { 
  color: #006ccc;
}
.post-navigation:before {
  left: 0;
}
.post-navigation:after {
  left: 54px;
}
/*------------- WOOCOMMERCE CSS --------------*/
.woocommerce ul.products li.product .button,
a.checkout-button.button.alt.wc-forward {
  margin-top: 1em;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
.woocommerce .star-rating {
  margin: 0 auto 10px !important;
}
.woocommerce span.onsale{
  background: #121212;
  padding: 0;
  border-radius: 0;
}
.products li {
  box-shadow: -3px 3px 10px 2px #ddd;
  padding: 10px !important;
  text-align: center;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #121212;
  letter-spacing: 1px;
  margin-bottom: 10px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, .woocommerce div.product span.price {
  color: #000000;
  font-size: 15px
}
.woocommerce div.product .product_title,.woocommerce div.product p.price, .woocommerce div.product span.price{
  margin-bottom: 5px;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #febe00;
  color: #121212;
  padding: 17px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{
  background: #121212;
  color: #fff;
}
.woocommerce .quantity .qty {
  width: 7em;
  padding: 12px;
  border: solid 1px #121212;
  color: #121212;
}
.col-1,.col-2 {
  max-width: 100%;
}
nav.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
nav.woocommerce-MyAccount-navigation ul li {
  background: #febe00;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: -2px 2px 0 0 #121212;
  font-weight: bold;
}
nav.woocommerce-MyAccount-navigation ul li a{
  color: #121212;
}
span.woocommerce-input-wrapper,
.checkout label {
 width: 100%;
}
.woocommerce .woocommerce-ordering select {
  padding: 5px;
  font-size: 12px;
}
span.posted_in {
  display: block;
}
.woocommerce div.product div.images .woocommerce-product-gallery__image:nth-child(n+2) {
  width: 22%;
  display: inline-block;
  margin: 5px;
}
.woocommerce-message,
.woocommerce-info{
  border-top-color: #121212;
}
.woocommerce-message::before,
.woocommerce-info::before{
  color: #121212;
}
nav.woocommerce-MyAccount-navigation ul li a, .woocommerce-MyAccount-content a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  text-decoration: none !important;
}
.woocommerce-MyAccount-content a, .woocommerce-info a, .woocommerce-privacy-policy-text a, td.product-name a, a.shipping-calculator-button{
  color: #222;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
  padding: .5em 0;
  margin: 0;
  font-size: 1.5em;
}
.woocommerce div.product .product_title{
  font-size: 2rem;
}
.woocommerce form .form-row .required {
    color: #e10000;
}
/*------------------RESPONSIVE MEIDA-------------------*/
@media screen and (max-width: 1000px){
  .menubar .nav ul li a:focus,
  a.closebtn.mobile-menu:focus{
    outline: 1px dotted #fff;
    border-bottom: 1px solid #fff;
  }
  .toggle-nav {
    display: none;
    position: relative;
    width: 30px;
    cursor: pointer;
    margin: 0 auto;
  }
  .toggle-nav i {
    font-size: 25px;
    color: #000;
    border: 1px solid;
    padding: 10px;
    border-radius: 50px;
    background: #febe00;
  }
  .toggle-nav button {
    background: transparent;
    border: none;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1; 
    right: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;
    overflow-y: scroll;
    background: #fff ;
    background-size: 100% 100%;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
    display: block !important;
    color: #000;
    border:none;
    background: transparent;
    margin-top: 0;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav span{
    font-size:30px;
    cursor:pointer; 
    text-align: left;
  }
  .toggle-nav{
    display: block;
  }
  .toggle i.fa.fa-bars,.toggle i.fa.fa-times {
    float: left;
    color: black;
  }
  .main-menu-navigation ul{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center; 
    margin-top: 0px;
    float: none;
  }
  .main-menu-navigation ul ul li{
    display: block;
  }
  .menubar .nav ul li{
    border-top:1px #f1f1f1 solid; 
    display:block;
  }
  .main-menu-navigation ul li a{
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block; 
    transition: 0.3s;
    float: none;
    margin: 5px 0;
    border-left: none;
  }
  .main-menu-navigation ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .main-menu-navigation ul.sub-menu a:hover{
    padding-right:20px !important;
  }
  .main-menu-navigation ul ul{
    position: static;
    width: 100%;
    background: transparent;
    border-top-width: 0px;
    border-bottom-width: 0px;
    box-shadow: none;
  }
  .main-menu-navigation ul ul a{
    border-bottom: none;
    text-align: center;
    padding-right: 40px;
  }
  .main-menu-navigation ul ul ul.sub-menu a{
    padding-right: 40px;
  }
  .main-menu-navigation li{
    padding: 0;
    display: block;
    text-align: center;
  } 
  .main-menu-navigation ul li:last-child{
    border-bottom: 1px #f1f1f1 solid;
  }
  .main-header-box{
    padding-bottom: 15px;
  }
  #mySidenav {
    text-align: right;
    display: inline;
  }
  .main-menu {
    padding: 0em;
    padding-top: 50px;
  }
  .main-menu-navigation ul.sub-menu>li>a:before {
    content: unset;
  }
  .main-menu-navigation ul.sub-menu>li>a:hover:before {
    opacity: 0;
    right: 0px;
    width: 0px;
  }
  #mySidenav {
    transition: all 0.5s ease-in-out;
    cursor: zoom-in;
    z-index: 999999;
    width: 100%;
    top: -110%;
  }
  .sf-arrows .sf-with-ul:hover:after,
  .main-menu-navigation ul li li:hover .sf-with-ul:after{
    content: '\f107';
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    color: #000;
  }
  .sf-arrows .sf-with-ul:after{
    content: '\f106';
    position: absolute;
    height: 0;
    width: 0;
    border-top-color: #e1e1e1;
    color: #000;
    font-weight: 600;
    font-family: 'Font Awesome 5 Free';
    margin-top: 0px;
    font-size: 12px;
    padding: 0px 10px;
  }
  .main-menu-navigation .current_page_item > a, .main-menu-navigation .current-menu-item > a, .main-menu-navigation .current_page_ancestor > a {
    color: #000;
    background: transparent;
  }
}
@media screen and (max-width:720px) {
  #slider .inner_carousel,.search-box,.logo,.top-bar .custom-social-icons,.top-bar{
    text-align: center;
  }
  .top-bar p{
    padding: 5px 0;
  }
  .custom-social-icons{
    padding: 15px 0;
  }
  #slider .carousel-control-prev,
  #slider .carousel-control-next{
    width: auto;
  }
  #slider .inner_carousel{
    border: none;
  }
  #slider .carousel-caption {
    padding: 0;
    left: 10%;
    right: 10%;
  }
  #slider .inner_carousel h1{
    font-size: 15px;
    text-align: center;
    padding: 0;
  }
  .box .inner-content:after{
    width: 250px;
    height: 250px;
  }
  #slider .inner_carousel p{
    display:none;
  }
  .post-info{
    display: none;
  }
  .top-bar{
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px){
  #slider .inner_carousel p{
    font-size: 12px;
  }
  #slider .inner_carousel h1{
    font-size: 30px;
  }
  #header .nav ul li a{
    border: none;
  }
  .toggle-nav {
    width: auto;
    text-align: right;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px){
  .box .inner-content:after{
    width: 250px;
    height: 250px;
  }
}
/* safari */
a[href^=tel] {
  color:inherit;
  text-decoration: none;
}
